<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CourmyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courmy">

        <!-- 네이버 지도 인증 키. 값은 local.properties(NAVER_MAP_CLIENT_ID) → manifestPlaceholders 로 주입 -->
        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="${naverMapClientId}" />

        <activity
            android:name=".main.presentation.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|density|fontScale|locale|layoutDirection"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Courmy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- App Links: https://www.courmy.com/* 모든 경로를 본 액티비티로 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.courmy.com" />
            </intent-filter>
        </activity>

        <!-- 카카오톡 앱 로그인 리다이렉트 처리. scheme 은 kakao{네이티브앱키}. -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakao${kakaoNativeAppKey}" />
            </intent-filter>
        </activity>
    </application>

</manifest>
